<div id="Galerie" class="container py-5">
    <div class="ms-md-2 ms-lg-5">
        <h2 class="text-center display-5 fw-bold">Galerie Foto</h2>
    </div>
    <p class="lead">                    </p>
    <div class="row w-100 mb-5 px-3">
        <div class="col-md-8 col-lg-6" data-aos="fade-right" data-aos-offset="500">
          <div class="ms-md-2 ms-lg-5">
            <p class="lead">Urmatoarele poze ilustreaza cateva dintre montajele realizate.</p>
          </div>
        </div>
      </div>
    <div class="row g-4">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let image of images">
        <div class="card border-0 shadow-sm">
          <img [src]="image.src" [alt]="image.alt" class="card-img-top img-fluid" (click)="openImage(image)">
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" tabindex="-1" [ngClass]="{ 'd-block': isModalOpen, 'd-none': !isModalOpen }" (click)="closeImage()">
    <div class="modal-dialog modal-dialog-centered modal-lg" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ selectedImage?.alt }}</h5>
          <button type="button" class="btn-close" (click)="closeImage()"></button>
        </div>
        <div class="modal-body text-center">
          <img [src]="selectedImage?.src" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </div>
  
