<footer class="bg-dark text-white pt-4 pb-3 mt-5">
    <div class="container">
      <div class="row text-center text-md-start">
        <div class="col-md-4 mb-3">
          <h5>Panel Exclusive Doors</h5>
          <p class="small">Montam termopane rapid si eficient!</p>
        </div>
        <div class="col-md-4 mb-3">
          <h6>Acces rapid</h6>
          <ul class="list-unstyled">
            <li><a (click)="onWindowScroll('Acasa')" class="text-white text-decoration-none">Acasa</a></li>
            <li><a (click)="onWindowScroll('Despre')" class="text-white text-decoration-none">Despre noi</a></li>
            <li><a (click)="onWindowScroll('modele')" class="text-white text-decoration-none">Modele</a></li>
            <li><a (click)="onWindowScroll('Galerie')"class="text-white text-decoration-none">Galerie</a></li>
            <li><a  data-bs-toggle="modal" data-bs-target="#modal" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3">
          <h6>Contact</h6>
          <p class="small mb-1"><i class="bi bi-envelope me-2"></i> catalinpanel&#64;outlook.com</p>
          <p class="small mb-1"><i class="bi bi-phone me-2"></i> +40 787 820 648</p>
        </div>
        <div class="col-md-12 mb-3">
            <h6>Detinatori website</h6>
            <p class="small mb-1"><i class="bi bi-envelope me-2"></i> adriancosmin223&#64;gmail.com</p>
            <p class="small mb-1"><i class="bi bi-phone me-2"></i> +40 748 500 909</p>
            <p class="small mb-1"><i class="bi bi-envelope me-2"></i> bstemate2000&#64;yahoo.com</p>
            <p class="small mb-1"><i class="bi bi-phone me-2"></i> +40 728 931 127</p>
          </div>
      </div>
  
      <hr class="bg-light">
      <p class="text-center small mb-0">&copy; {{ currentYear }} Adrian Azoitei.  Bogdan Stemate. Toate drepturile de autor rezervate.</p>
    </div>
  </footer>
  