<header id="header" class="hero-section">

  <div class="hero-bg" [class.zoomed]="scrolled"></div>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg" [class.scrolled]="scrolled">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        Panel Exclusive Doors
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#header">Acasa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Despre">Despre noi</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Modelele noastre
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#carousel0">PVC</a></li>
              <li><a class="dropdown-item" href="#carousel1">HPL</a></li>
              <li><a class="dropdown-item" href="#carousel2">Aluminiu</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Hero text -->
  <div class="hero-content text-center">
    <h1>Bine ati venit la Panel Exclusive Doors</h1>
  </div>

  <div class="left-vertical-triangle"></div>
  <div class="right-vertical-triangle"></div>
  <div class="angled-frame"></div>

  
</header>
