<section class="py-5" style="position: relative; overflow: hidden;">
    <div class="container w-100 position-relative mx-auto" style="z-index: 1;">
      <div class="row justify-content-md-center">
        <div class="col-md-5" data-aos="fade-down">
          <div class="ms-md-2 ms-lg-5">
            <h2 class="display-5 fw-bold">Modelele Noastre</h2>
          </div>
        </div>
      </div>
    </div>
  

    <div class="row w-100 mb-5 px-3">
      <div class="col-md-8 col-lg-6" data-aos="fade-right" data-aos-offset="500">
        <div class="ms-md-2 ms-lg-5">
          <h2 class="display-5 fw-bold">Paleta de culori</h2>
          <p class="lead">Infiintata in anul 2014, compania Panel Exclusive Doors din Ploiesti...</p>
          <p class="lead mb-0">Firma noastra a incheiat contracte de colaborare cu un numar important de parteneri...</p>
        </div>
      </div>
    </div>
     <div class="row justify-content-center w-100 m-0 px-5">
      <div class="col-md-5  d-flex justify-content-center mb-4" data-aos="zoom-in" data-aos-offset="500" data-aos-delay="200">
        <img class="img-fluid rounded-3" src="assets/HD-33-of-38.jpg" alt="About">
      </div>

      <div class="col-md-5 d-flex justify-content-center mb-4 px-5" data-aos="zoom-in" data-aos-offset="500" data-aos-delay="200">
        <img class="img-fluid rounded-3" src="assets/HD-35-of-38.jpg" alt="About">
      </div>
    </div>
  </section>
  