<section id="Despre" class="py-5" style="position: relative; overflow: hidden;">
  <div class="w-100 position-relative" style="z-index: 1;">
    <div class="row align-items-center gx-4 mx-0">
      <div class="col-md-5" data-aos="fade-right" data-aos-offset="200">
        <div class="ms-md-2 ms-lg-5">
          <img class="img-fluid rounded-3" src="assets/masur.jpg" alt="About">
        </div>
      </div>
      <div class="col-md-6 offset-md-1" data-aos="fade-left"
        data-aos-offset="400" data-aos-delay="200">
        <div class="ms-md-2 ms-lg-5">
          <span class="text-muted">Povestea noastra</span>
            <h4>Despre noi</h4>
            <p class="lead">Infiintata in anul 2014, compania Panel Exclusive
              Doors din Ploiesti, comercializeaza si monteaza la cerere panouri
              compozite si paneluri ornamentale din pvc, hpl si aluminiu pentru
              usi (albe si colorate).</p>
            <p class="lead mb-0">Firma noastra a incheiat contracte de
              colaborare cu un numar important de parteneri, reprezentati, in
              special de producatori din domeniul tamplariei termoizolante.</p>
        </div>
      </div>
    </div>
  </div>
</section>